<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Projektowanie stron oraz aplikacji inernetowych.">
    <meta name="keywords" content="strony,internetowe,alikacje,web,developer,projektowanie,design">
    <meta name="author" content="Krzysztof Rytlewski">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TribusK2 - Strony i aplikacje internetowe</title>
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="cdn/bootstrap.css">
    <!-- <link rel="stylesheet" type="text/css" href="icons/flaticon.css"> -->
    <link rel="icon" href="./img/logoXSmall.jpg">
    <link rel="stylesheet" href="style/style.css">
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script> -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular-animate.min.js"></script> -->
    <script src="cdn/angular.js"></script>
    <script src="cdn/animate.js"></script>
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular-route.min.js"></script> -->
    <script src="cdn/route.js"></script>
    <script src="script/app.js"></script>
</head>
<body ng-app=myApp ng-controller="bodyCtrl">
    <header class="fixed-top">
        <div class="container-fluid mx-0 px-0">
            <div class="row mx-0">
                <nav class="col navbar navbar-expand-sm navbar-light bg-white align-items-top align-items-start pt-3">
                    <button class="navbar-toggler btn btn-link btn-border-none collapsed" type="button" ng-click="toggleIcon()" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <div id="bar1" class="navBarIcon"></div>
                        <div id="bar2" class="navBarIcon"></div>
                        <div id="bar3" class="navBarIcon"></div>
                    </button>
                    <div class="collapse navbar-collapse justify-content-end pt-4" id="navbarNav">
                        <ul class="navbar-nav text-center ml-4 pl-5">
                            <li class="nav-item text-secondary px-2" ng-click="scrollTop('smooth')" ng-class="{active: isActive('/')}" data-toggle="collapse" data-target=".navbar-collapse.show">
                                <a class="nav-link" href="#!/">
                                    <span class="darkHover">St</span><span class="lightHover">a</span><span class="darkHover">rt</span><span class="sr-only">(current)</span>
                                </a>
                            </li>
                            <li class="nav-item text-secondary px-2" ng-click="scrollTop('smooth')" ng-class="{active: isActive('/offer')}" data-toggle="collapse" data-target=".navbar-collapse.show">
                                <a class="nav-link" href="#!/offer">
                                    <span class="darkHover">Of</span><span class="lightHover">e</span><span class="darkHover">rta</span>
                                </a>
                            </li>
                            <li class="nav-item text-secondary px-2" ng-click="scrollTop('smooth')" ng-class="{active: isActive('/portfolio')}" data-toggle="collapse" data-target=".navbar-collapse.show">
                                <a class="nav-link" href="#!/portfolio">
                                    <span class="darkHover">Port</span><span class="lightHover">f</span><span class="darkHover">olio</span>
                                </a>
                            </li>
                            <li class="nav-item text-secondary px-2" ng-click="scrollTop('smooth')" ng-class="{active: isActive('/contact')}" data-toggle="collapse" data-target=".navbar-collapse.show">
                                <a class="nav-link" href="#!/contact">
                                    <span class="darkHover">Kon</span><span class="lightHover">t</span><span class="darkHover">akt</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </nav>
                <a class="bg-white mx-0 p-3" href="" ng-click="scrollTop('smooth')">
                    <img src="img/logoSmall.png" alt="Logo firmowe TribusK2">
                </a>
            </div>
        </div>   
    </header>

    <!-- main view -->
    <div ng-view class="mainView animate"></div>
    <!-- main view end -->

    <!-- space needed to make regular distance afer main display -->
    <div class="afterSpace"></div>

    <footer class="bg-light mx-0">
        <div class="col mx-0 px-1">
            <div class="row mx-0 px-0 text-right">
                <div class="col mx-0 px-0">
                    <p class="mb-1">Copyright &copy; 2019 <a class="text-dark" href="https://tribusk2.pl/" target="_blank" title="Visit: www.tribusk2.pl">TribusK2</a></p>
                </div>
            </div>
        </div>
    </footer>
    <!-- <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script> -->
    <script src="cdn/jquery.js"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script> -->
    <!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script> -->
    <script src="cdn/bootstrap.js"></script>
</body>
</html>