// Variables

$highlightBlue: #07F7F7;
$highlightBlueSemi: rgba(7, 247, 247, 0.06);
$navBase: black;
$transitionHeader: .5s;
$borderBox: 5px solid #707070;
$borderSloganBox: 5px solid black;
$borderSloganBoxBlue: 5px solid #07F7F7;
$borderBoxBlueDarken: 5px solid darken($highlightBlue, 8%);
$backgroudBox: #E3DCDC;
$backgroudBoxMargin: 12px;
$dotDiameter: 60px;
$dotDiameterMedium: 50px;
$dotDiameterSmall: 40px;
$shakeAngle: 2deg;