@import "variables";
@import "mixins";

@font-face {
    font-family: Kalam-Regular;
    src: url(../fonts/Kalam-Regular.ttf);
}
@font-face {
    font-family: Kalam-Bold;
    src: url(../fonts/Kalam-Bold.ttf);
}
@font-face {
    font-family: Kalam-Light;
    src: url(../fonts/Kalam-Light.ttf);
}

@keyframes shake {
    0%   {transform: rotateZ(0deg);}
    15%  {transform: rotateZ($shakeAngle);}
    30%  {transform: rotateZ(-$shakeAngle);}
    45%  {transform: rotateZ($shakeAngle);}
    60%  {transform: rotateZ(-$shakeAngle);}
    75%  {transform: rotateZ($shakeAngle);}
    90%  {transform: rotateZ(-$shakeAngle);}
    100% {transform: rotateZ(0deg);}
}

header{
    #navbarNav{
        padding-top: 24px;
        transition: all $transitionHeader;
    }
    nav{
        transition: all $transitionHeader;
    }
    #logoLink{
        width: 87px;
        padding: 16px;
        transition: all $transitionHeader;
    }
    img{
        height: 60px;
        transition: all $transitionHeader;
    }
    button{
        border: none !important;
    }
    .navBarIcon{
        width: 25px;
        height: 2px;
        background-color: $navBase;
        margin: 6px;
        border-radius: 1px;
        transition: all .3s linear;
    }
    .bar1{
        background-color: lighten($navBase, 40%);
    }
    .bar2{
        background-color: $highlightBlue;
    }
    .bar3{
        background-color: lighten($highlightBlue, 30%);
    }
    .darkHover, .lightHover, a{
        transition: transform 0.2s ease-in-out, color .5s linear;
    }
    .navbar-light .navbar-nav .active > .nav-link{
        color: $navBase;
        transform: scale(1.15) translateY(-1px);
        &:hover{
            .darkHover{
                color: $navBase;
            }
            .lightHover{
                color: $navBase;
            }
        }
    }
    .navbar-light .navbar-nav .nav-link{
        color: lighten($navBase, 70%);
        &:hover{
            transform: scale(1.15) translateY(-1px);
            .darkHover{
                color: lighten($navBase, 50%);
            }
            .lightHover{
                color: darken($highlightBlue, 8%);
            }
        }
    }
}
main{
    height: 100vh;
    width: 100%;
    overflow: hidden;
    .beforeSpace{
        height: 92px;
        transition: all $transitionHeader;
    }
}
.afterSpace{
    transition: all $transitionHeader;
}
.scrolledView{
    overflow: visible;
    height: 100%;
}

// start page
.hedersWrapper{
    z-index: 1;
    position: absolute;
    width: 100%;
    top: 18vh;
    @include mQportraitMobile{
        position: relative;
        top: 0;
    }
    @include mQmobileMediumLandscape{
        top: 30vh;
        left: 5vw;
        width: 80%;
    }
    @include mQmobilePanoram{
        top: 30vh;
        left: 5vw;
        width: 80%;
    }
    @include mQfullHD{
        left: 3vw;
        width: 80%;
    }
    @include mQmobileSmallLandscape{
        top: 35vh;
        left: 5vw;
        width: 80%;
    }
    @include mQtabletSmallLandscape{
        top: 25vh;
        left: 5vw;
        width: 60%;
    }
}
.mainHeader{
    position: relative;
    width: 450px;
    border: 1px solid $highlightBlue;
    background-color: rgba(255, 255, 255, 0.75);
    @include mQportraitMobile{
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        border: none;
        background-color: whitesmoke;
    }
    @include mQmobileMediumLandscape{
        width: 200px;
    }
    @include mQmobilePanoram{
        width: 250px;
        padding: 24px !important;
    }
    @include mQfullHD{
        width: 550px;
    }
    @include mQmobileSmallLandscape{
        width: 150px;
    }
    @include mQtabletSmallLandscape{
        width: 350px;
    }
    .textBlue{
        color: darken($highlightBlue, 8%);
    }
    h1{
        font-size: 5rem;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        @include mQmobileMedium{
            font-size: 3rem;
        }
        @include mQmobileSmall{
            font-size: 3rem;
        }
        @include mQmobileMediumLandscape{
            text-align: start;
        }
        @include mQmobilePanoram{
            font-size: 3rem;
            text-align: start;
        }
        @include mQfullHD{
            font-size: 8rem;
        }
        @include mQmobileSmallLandscape{
            font-size: 2rem;
            text-align: start;
        }
        @include mQtabletSmallLandscape{
            font-size: 4rem;
            text-align: start;
        }
    }
}
.seccondHeader{
    position: relative;
    @include mQportraitMobile{
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        padding-top: 3vh;
    }
    h2{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: black;
        @include mQmobileSmall{
            font-size: 1.5rem;
        }
        @include mQmobileMediumLandscape{
            position: relative;
            text-align: start;
            font-size: 1.5rem;
            top: -170px;
            left: 120px;
        }
        @include mQmobilePanoram{
            position: relative;
            text-align: start;
            font-size: 1.5rem;
            top: -200px;
            left: 160px;
        }
        @include mQfullHD{
            font-size: 3rem;
            position: relative;
            left: 70px;
        }
        @include mQmobileSmallLandscape{
            position: relative;
            text-align: start;
            font-size: 1rem;
            top: -130px;
            left: 100px;
        }
        @include mQtabletSmallLandscape{
            position: relative;
            text-align: start;
            font-size: 2rem;
            top: -290px;
            left: 280px;
        }
    }
}
.imageWrapper{
    text-align: center;
    width: 80%;
    // border: 1px solid red;
    overflow: hidden;
}
.mainImage{
    // border: 1px solid green;
    width: 106%;
    height: 85vh;
    position: relative;
    top: -2vh;
    left: -3%;
    background-image: url(../img/mainDisplay.jpg);
    // background-position-x: center;
    // background-position-y: center;
    background-repeat: no-repeat;
    background-size: cover;
    @include mQportraitMobile{
        height: 55vh;
    }
    @include mQmobileSmall{
        height: 60vh;
    }
    @include mQmobileMediumLandscape{
        height: 73vh;
    }
    @include mQmobilePanoram{
        height: 75vh;
    }
    @include mQmobileSmallLandscape{
        height: 70vh;
    }
    @include mQmobileXL{
        height: 68vh;
    }
    @include mQlaptopPortrait150{
        height: 70vh;
    }
}
.blurBox{
    position: relative;
    height: 100vh;
    width: 100%;
    top: -4vh;
    backdrop-filter: blur(30px);
    border-top: 3px solid $highlightBlue;
}
// start page end

// offer page
.bannerImg{
    border-top: $borderBox;
    border-bottom: $borderBox;
}
.bannerTextWrapper{
    position: relative;
}
.bannerBackground{
    position: absolute;
    background-color: $backgroudBox;
    width: 100%;
    height: 140%;
    opacity: .4;
    top: -30%;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto;
}
.bannerBackgroundLeft{
    @extend .bannerBackground;
    width: $backgroudBoxMargin;
    left: -$backgroudBoxMargin;
    right: auto;
}
.bannerBackgroundRight{
    @extend .bannerBackground;
    width: $backgroudBoxMargin;
    right: -$backgroudBoxMargin;
    left: auto;
}
.bannerButton{
    width: 100%;
    position: relative;
    .arrowDivWrapper{
        width: 40px;
        height: 60px;
        position: relative;
        overflow: hidden;
    }
    .arrowDiv1{
        position: absolute;
        bottom: -12px;
        left: 0px;
        height: 40px;
        width: 40px;
        border: solid $navBase;
        border-width: 5px 0 0 5px;
        display: inline-block;
        transform: rotateZ(45deg) skew(-10deg, -10deg);
        transition: all .25s ease-in-out;
    }
    .arrowDiv2{
        @extend .arrowDiv1;
        bottom: -12px;
    }
    .arrowDiv3{
        @extend .arrowDiv1;
        bottom: -12px;
    }
    &:hover{
        .arrowDiv1{
            bottom: 12px;
            border-color: lighten($navBase, 40%);
        }
        .arrowDiv2{
            bottom: 0px;
            border-color: $highlightBlue;
        }
        .arrowDiv3{
            bottom: -12px;
            border-color: lighten($highlightBlue, 30%);
        }
    }
}
.bannerMore{
    background-color: $navBase;
    color: darken($highlightBlue, 8%);
    transition: all 1s;
    position: absolute;
    overflow: hidden;
    bottom: 3%;
    height: 0px;
    width: 98%;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto;
}
.bannerText{
    height: 100%;
    overflow: scroll;
    scrollbar-width: none;
    &::-webkit-scrollbar {
        display: none;
    }
}
.close {
    color: #fff; 
    opacity: 1;
    text-shadow: 0 1px 0 $highlightBlue;
}
.offerSlogan{
    border-top: $borderSloganBox;
    border-bottom: $borderSloganBox;
    background-image: url(../img/offer_background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    h1{
        text-shadow: 5px 5px 10px black;
    }
}
.arrowDownButton{
    height: 60px;
    border-radius: 0px;
    left: 0px;
    bottom: 0px;
    .arrowDownWrapper{
        width: 40px;
        height: 50px;
        position: relative;
        overflow: hidden;
    }
    .arrowDown{
        box-shadow: -6px -6px 20px white;
        position: absolute;
        top: -20px;
        left: 0px;
        height: 40px;
        width: 40px;
        border: solid lighten($navBase, 0%);
        border-width: 5px 0 0 5px;
        display: inline-block;
        transform: rotateZ(-135deg) skew(-10deg, -10deg);
        transition: all .25s ease-in-out;
    }
    &:hover{
        .arrowDown{
            top: -14px;
            border: solid $highlightBlue;
            border-width: 5px 0 0 5px;
            box-shadow: -0px -0px 20px white;
        }
    }
}
.arrowUpButton{
    @extend .arrowDownButton;
    transform: translateY(-60px);
    border-top: none;
    .arrowUpWrapper{
        @extend .arrowDownWrapper;
    }
    .arrowUp{
        @extend .arrowDown;
        top: 27px;
        transform: rotateZ(45deg) skew(-10deg, -10deg);
    }
    &:hover{
        .arrowUp{
            top: 21px;
            border: solid $highlightBlue;
            border-width: 5px 0 0 5px;
        }
    }
}
.tech{
    border-left: $borderSloganBoxBlue;
    border-right: $borderSloganBoxBlue;
    border-bottom: $borderSloganBoxBlue;
    background-color: $highlightBlueSemi;
    h1{
        font-size: 5rem;
        @include mQportraitMobile{
            font-size: 2.5rem;
        }
    }
}

.techWrapper{
    // border: 1px solid red;
    overflow: hidden;
    .cardWrapper{
        // border: 1px solid black;
        position: absolute;
        height: 120px;
        // background-color: beige;
    }
    .logoWrapper{
        width: 100px;
        height: 80%;
        img{
            -webkit-filter: drop-shadow(5px 5px 3px rgba(0, 0, 0, 0.8));
            filter: drop-shadow(5px 5px 3px rgba(0, 0, 0, 0.8));
        }
    }
}
.circle3D{
    position: relative;
    // border: 1px solid black;
}
// offer page end

// portfolio page
.biggerLetter{
    font-size: 3.5rem;
}
.smallerLeter{
    font-size: 1.8rem;
}
.portfolioBox{
    background-color: $navBase;
    border: $borderBoxBlueDarken;
    height: 60vh;
    @include mQportraitMobile{
        height: 100%;
    }
    @include mQmobileMediumLandscape{
        height: 100%;
    }
    @include mQmobileSmallLandscape{
        height: 100%;
    }
    @include mQmobilePanoram{
        height: 100%;
    }
    @include mQtabletSmallLandscapeNormal{
        height: 100%;
    }
}
.realisationBoxWrapper{
    height: 100%;
    .changeBonding{
        margin: 2px;
        height: 15px;
        width: 50px;
    }
}
.changeWrapper3d{
    perspective: 170px;
    .changeWrapper{
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
}
.arrowLeftButton{
    transition: all .25s ease-in-out;
    padding: 5px;
    transform: rotateZ(90deg);
    .arrowLeftWrapper{
        width: 20px;
        height: 25px;
        position: relative;
        overflow: hidden;
    }
    .arrowLeft{
        box-shadow: -6px -6px 20px white;
        position: absolute;
        top: -10px;
        left: 0px;
        height: 20px;
        width: 20px;
        border: solid lighten($navBase, 0%);
        border-width: 5px 0 0 5px;
        display: inline-block;
        transform: rotateZ(-135deg) skew(-10deg, -10deg);
        transition: all .25s ease-in-out;
    }
    &:hover{
        .arrowLeft{
            top: 0px;
            border: solid $highlightBlue;
            border-width: 5px 0 0 5px;
        }
    }
}
.arrowRightButton{
    transform: rotateZ(-90deg);
    @extend .arrowLeftButton;
    .arrowRightWrapper{
        @extend .arrowLeftWrapper;
    }
    .arrowRight{
        @extend .arrowLeft;
    }
}
.realisationBox{
    transition: all 0.3s;
    cursor: pointer;
    .flipWrapper{
        perspective: 300px;
    }
    img{
        max-height: 14vh;
        transform: rotateX(20deg);
        transform-origin: 0% 150%;
        transition: all .5s;
        border: 5px solid $navBase;
        border-radius: 5px;
        box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.829);
    }
    &:hover{
        img{
            transform: rotateX(0deg);
            box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.527);
        }
    }
}
.presentRealisation{
    transition: all 1s, height 0.001s, width 0.001s;
    height: 80%;
    width: 80%;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    opacity: 0;
    // opacity: 1;
    top: -170px;
    // top: -80px;
    @include mQmobileSmall{
        height: 120%;
        width: 100%;
        z-index: 1;
    }
    @include mQportraitMobile{
        height: 100%;
        z-index: 1;
    }
    @include mQmobileMediumLandscape{
        height: 100%;
        z-index: 1;
    }
    @include mQmobilePanoram{
        height: 100%;
        z-index: 1;
    }
    @include mQtabletSmallLandscapeNormal{
        height: 100%;
        z-index: 1;
    }
    .close {
        position: absolute;
        color: black; 
        opacity: 1;
        right: 10px;
        text-shadow: 0 1px 0 $highlightBlue;
        z-index: 1;
    }
    .coloredText{
        color: darken($highlightBlue, 8%);
    }
    .descriptionWrapper{
        overflow: scroll;
        scrollbar-width: none;
        &::-webkit-scrollbar {
            display: none;
        } 
    }
    p{
        text-indent: 1rem;
    }
    .imgWrapper{
        max-height: 90%;
        img{
            max-height: 100%;
        }
    }
}
.realisationExample{
    transition: all 1s;
    height: 50%;
    // height: 20%;
    top: 0%;
    // top: 70%;
    @include mQmobileSmall{
        .header1{
            font-size: 2rem;
        }
        .header2{
            font-size: 3rem;
        }
    }
    
}
.realisationHeaderWrapper{
    @include mQportraitMobile{
        border-top: $borderBox;
    }
    @include mQmobileSmall{
        border-top: $borderBox;
    }
    @include mQmobileMediumLandscape{
        border-top: $borderBox;
    }
    .realisationHeader{
        position: relative;
        margin-top: 2vh;
        font-size: 8vh;
        @include mQmobileSmall{
            font-size: 3rem;
        }
    }
}
.portDistance{
    display: none;
    height: 60vh;
    width: 100%;
    background-color: $navBase;
    border-bottom: $borderBoxBlueDarken;
    border-left: $borderBoxBlueDarken;
    border-right: $borderBoxBlueDarken;
    @include mQportraitMobile{
        display: block;
    }
}
.bigTabletDisplay{
    @include mQportraitTabletBig{
        padding: 0px 5vw !important;
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: 100%;
        max-width: 60%;
    }
}
// portfolio page end

// contact page
.contactHeaderWrapper{
    font-weight: bold;
    color: lighten($navBase, 40%);
    h1{
        font-size: 4rem;
        @include mQmobileMedium{
            font-size: 3rem;
        }
        @include mQmobileSmall{
            font-size: 2.5rem;
        }
    }
}
.contactContentWrapper{
    font-family: Kalam-regular;
    a{
        &:hover{
            img{
                animation-name: shake;
                animation-duration: 0.2s;
            }
        }
    }
    img{
        height: auto;
        width: 80px;
        @include mQfullHD{
            margin-top: 36px !important;
        }
    }
}
.imageContactWrapper{
    position: relative;
    &:hover{
        .imageContact{
            filter: blur(0px);
        }
    }
    .imageContact{
        background-image: url(../img/contact.jpg);
        background-position-x: center;
        background-position-y: top;
        background-repeat: no-repeat;
        background-size: cover;
        height: 80vh;
        width: 100%;
        border: 20px solid white;
        transition: all .5s;
        @include mQmobileXL{
            height: 60vh;
        }
        p{
            text-indent: 1rem;
        }
    }
    .blur{
        filter: blur(15px);
    }
    .imageTextWrapper{
        position: absolute;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        bottom: 0px;
    }
    .hidenElement{
        transition: all .3s;
    }
    .hideText{
        opacity: 0;
    }
    .turnOffText{
        display: none;
    }
    .dot{
        height: $dotDiameter;
        width: $dotDiameter;
        border-radius: $dotDiameter/2;
        background-color: $highlightBlue;
        box-shadow: 5px 5px 10px black;
        cursor: pointer;
        @include mQmobileMedium{
            height: $dotDiameterMedium;
            width: $dotDiameterMedium;
            border-radius: $dotDiameterMedium/2;
        }
        @include mQmobileSmall{
            height: $dotDiameterSmall;
            width: $dotDiameterSmall;
            border-radius: $dotDiameterSmall/2;
        }
    }
    h2{
        font-family: Kalam-bold;
        text-shadow: 5px 5px 10px black;
        cursor: pointer;
        @include mQmobileMedium{
            font-size: 4rem;
            padding-top: 36px !important;
            margin-bottom: 0px !important;
        }
        @include mQmobileSmall{
            font-size: 3rem;
        }
        @include mQmobileSmallLandscape{
            padding-top: 36px !important;
            margin-bottom: 0px !important;
        }
        @include mQmobilePanoram{
            font-size: 4rem;
            padding-top: 36px !important;
            margin-bottom: 0px !important;
        }
    }
    button{
        &:hover{
            i{
                color: $highlightBlue;
                text-shadow: 1px 1px 2px black; 
            }
        }
        i{
            transition: all .2s;
        }
    }
}
#colapsedImageText{
    transition: all 0.3s;
    p{
        font-family: Kalam-Light;
    }
}
// contact page end

footer{
    p{
        font-size: 0.7rem;
    }
}

// Animation between routes
.animate {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    opacity: 1;
}
.animate.ng-enter,
.animate.ng-leave {
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}
.animate.ng-enter {
    opacity: 0;
}
.animate.ng-enter-active {
    opacity: 1;
}
.animate.ng-leave {
    opacity: 1;
}
.animate.ng-leave-active {
    opacity: 0;
}

// Animation of ng-repeat enter
.repeatAnimate {
    opacity: 1;
}
.repeatAnimate.ng-enter {
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
    opacity: 0;
}
.repeatAnimate.ng-enter-active {
    opacity: 1;
}