<main class="scrolledView">
    <!-- Space needed to make regular distance before main display -->
    <div class="beforeSpace"></div>

    <section class="bg-white m-0 p-0">
        <div class="offerDisplay row mx-4">
            <div ng-repeat="banner in banners" class="col-12 col-md-4 mx-0 px-0">
                <div class="bannerImg p-3 mt-1">
                    <img ng-src="./img/{{banner.file_name}}" class="img-fluid" alt="banner.alt">
                </div>
                <div class="bannerTextWrapper mb-3">
                    <div class="bannerBackground mx-auto"></div>
                    <div class="mx-auto" ng-class="{'bannerBackgroundLeft': $first}"></div>
                    <div class="mx-auto" ng-class="{'bannerBackgroundRight': visible && !$last}"></div>
                    <div class="mx-auto" ng-class="{'bannerBackgroundLeft': visible && !$first}"></div>
                    <div class="mx-auto" ng-class="{'bannerBackgroundRight': $last}"></div>
                    <button class="bannerButton btn shadow-none mb-3 py-0" ng-click="openBanner($index)">
                        <h2 class="h5 pt-4 text-uppercase text-center">{{banner.title}}</h2>
                        <div class="arrowDivWrapper mx-auto p-3">
                            <i class="arrowDiv1"></i>
                            <i class="arrowDiv2"></i>
                            <i class="arrowDiv3"></i>
                        </div>
                    </button>
                </div>

                <div class="bannerMore px-3">
                    <button type="button" class="close btn shadow-none" ng-click="closeBanner($index)" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h3 class="h5 text-white h4 text-uppercase text-center pt-4">{{banner.title}}</h2>
                    <div class="bannerText">
                        <p class="text-justify pb-5">{{banner.description}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mx-0 mt-3">
            <div class="offerSlogan col px-1">
                <div class="col-12 col-sm-10 mx-auto py-5 py-sm-5">
                    <h1 class="h2 text-white text-center text-uppercase font-weight-bold">{{textes.header1}}</h1>
                </div>
            </div>
        </div>
    </section>
</main>
<section class="row mx-0">
    <button class="arrowUpButton btn shadow-none fixed-bottom" ng-click="scrollBtn('up')">
        <div class="arrowUpWrapper mx-auto">
            <i class="arrowUp"></i>
        </div>
    </button>
    <button class="arrowDownButton btn shadow-none fixed-bottom" ng-click="scrollBtn('down')">
        <div class="arrowDownWrapper mx-auto">
            <i class="arrowDown"></i>
        </div>
    </button>
    <div class="col-12 row mx-0 px-0">
        <div class="tech col px-1">
            <div class="col-12 col-sm-10 mx-auto py-5 py-sm-5">
                <h1 class="text-secondary text-center text-uppercase">{{textes.header2}}</h1>
            </div>
        </div>
    </div>
    <div class="techWrapper col-12 row mx-0 my-2 justify-content-center">
        <div class="cardWrapper m-0" ng-repeat="logo in logos">
            <div class="logoWrapper row mx-0 align-items-center">
                <img ng-src="./icons/{{logo.file_name}}" class="img-fluid p-2" alt="{{logo.alt}}">
            </div>
            <!-- <div class="row mx-0 p-0 justify-content-center">
                <p class="border-dark text-secondary font-weight-light text-center mb-1">{{logo.title}}</p>
            </div> -->
        </div>
        <div class="row col-12 justify-content-center mx-auto">
            <div class="circle3D"></div>
        </div>  
    </div>
    
    
</section>

