<main>
    <!-- space needed to make regular distance before main display -->
    <div class="beforeSpace"></div>

    <section class="bg-success text-light">
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Commodi neque eos in quas earum nam ipsam a reiciendis? Labore hic voluptas rerum architecto necessitatibus voluptatem dolorem vitae ducimus itaque perferendis.</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Commodi neque eos in quas earum nam ipsam a reiciendis? Labore hic voluptas rerum architecto necessitatibus voluptatem dolorem vitae ducimus itaque perferendis.</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Commodi neque eos in quas earum nam ipsam a reiciendis? Labore hic voluptas rerum architecto necessitatibus voluptatem dolorem vitae ducimus itaque perferendis.</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Commodi neque eos in quas earum nam ipsam a reiciendis? Labore hic voluptas rerum architecto necessitatibus voluptatem dolorem vitae ducimus itaque perferendis.</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Commodi neque eos in quas earum nam ipsam a reiciendis? Labore hic voluptas rerum architecto necessitatibus voluptatem dolorem vitae ducimus itaque perferendis.</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Commodi neque eos in quas earum nam ipsam a reiciendis? Labore hic voluptas rerum architecto necessitatibus voluptatem dolorem vitae ducimus itaque perferendis.</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Commodi neque eos in quas earum nam ipsam a reiciendis? Labore hic voluptas rerum architecto necessitatibus voluptatem dolorem vitae ducimus itaque perferendis.</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Commodi neque eos in quas earum nam ipsam a reiciendis? Labore hic voluptas rerum architecto necessitatibus voluptatem dolorem vitae ducimus itaque perferendis.</p>
    </section>
</main>
 <section>
     <h1>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cum, ullam.</h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Necessitatibus facilis qui neque. Assumenda, eligendi blanditiis aliquid numquam, magnam dolor, eos voluptate quibusdam quam minus dolorem eveniet reiciendis eius. Illo, perferendis.</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Necessitatibus facilis qui neque. Assumenda, eligendi blanditiis aliquid numquam, magnam dolor, eos voluptate quibusdam quam minus dolorem eveniet reiciendis eius. Illo, perferendis.</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Necessitatibus facilis qui neque. Assumenda, eligendi blanditiis aliquid numquam, magnam dolor, eos voluptate quibusdam quam minus dolorem eveniet reiciendis eius. Illo, perferendis.</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Necessitatibus facilis qui neque. Assumenda, eligendi blanditiis aliquid numquam, magnam dolor, eos voluptate quibusdam quam minus dolorem eveniet reiciendis eius. Illo, perferendis.</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Necessitatibus facilis qui neque. Assumenda, eligendi blanditiis aliquid numquam, magnam dolor, eos voluptate quibusdam quam minus dolorem eveniet reiciendis eius. Illo, perferendis.</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Necessitatibus facilis qui neque. Assumenda, eligendi blanditiis aliquid numquam, magnam dolor, eos voluptate quibusdam quam minus dolorem eveniet reiciendis eius. Illo, perferendis.</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Necessitatibus facilis qui neque. Assumenda, eligendi blanditiis aliquid numquam, magnam dolor, eos voluptate quibusdam quam minus dolorem eveniet reiciendis eius. Illo, perferendis.</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Necessitatibus facilis qui neque. Assumenda, eligendi blanditiis aliquid numquam, magnam dolor, eos voluptate quibusdam quam minus dolorem eveniet reiciendis eius. Illo, perferendis.</p>
    </section>

