<main>
    <!-- Space needed to make regular distance before main display -->
    <div class="beforeSpace"></div>

    <section class="mx-0">
        <div class="row bg-white text-secondary mx-4">
            <div class="col">
                <h1 class="text-uppercase">{{textes.title_a}}<span class="biggerLetter">{{textes.title_b}}</span>{{textes.title_c}}<span class="smallerLeter">{{textes.title_d}}</span></h1>
            </div>
        </div>
        <div class="row mx-0">
            <div class="col-12 row portfolioBox mx-0">
                <!-- List of projects -->
                <div class="col-12 realisationBoxWrapper col-lg-6 d-flex flex-wrap justify-content-center align-self-start pt-2">
                    <!-- Realisation boxes -->
                    <div ng-repeat="project in proj" class="repeatAnimate bigTabletDisplay col-12 col-md-6 p-0 px-sm-5 py-2 py-lg-2 px-lg-5 justify-content-center align-self-center">
                        <div class="realisationBox row bg-light text-center align-items-center" ng-click="displayRealisation()">
                            <div class="flipWrapper col-6 col-md-12 pt-2 pb-4 pb-md-0">
                                <img ng-src="./img/{{project.file_name}}" class="img-fluid" alt="{{project.alt}}">
                            </div>
                            <h3 class="h5 col-6 col-md-12 text-dark m-0 pb-1">{{project.title}}</h3>
                        </div>
                    </div>
                    <!-- Realisation boxes end -->
                    
                    <!-- Arrows buttons -->
                    <div class="row col-12 align-items-end">
                        <div class="row col-12 changeWrapper3d my-2 p-1 mx-0 align-items-center">
                            <div class="changeWrapper row align-items-center mx-auto">
                                <button class="arrowLeftButton btn btn-outline-light shadow-none align-items-center" ng-click="changeArrow('left')">
                                    <div class="arrowLeftWrapper mx-auto">
                                        <i class="arrowLeft"></i>
                                    </div>
                                </button>
                                <div class="changeBonding"></div>
                                <button class="arrowRightButton btn btn-outline-light shadow-none align-items-center" ng-click="changeArrow('right')">
                                    <div class="arrowRightWrapper mx-auto">
                                        <i class="arrowRight"></i>
                                    </div>
                                </button>
                            </div>
                        </div>
                    </div>
                    
                    <!-- Arrows buttons end -->
                </div>
                <!-- List of projects end-->

                <!-- Current project display -->
                <div class="realisationBoxWrapper col-12 col-lg-6 mx-0 py-5 order-first order-lg-last">
                    <!-- Display box -->
                    <div class="presentRealisation bg-white border">
                        <button type="button" class="close btn shadow-none" ng-click="closeRealisation()" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <!-- Display header -->
                        <div class="headerWrapper row mx-auto pt-1">                   
                            <div class="row col-12 mx-0 px-0">
                                <div class="col text-uppercase">
                                    <h5>{{textes.box_title}}: <span class="coloredText">{{title}}</span></h4>
                                </div>
                                <div class="col text-uppercase pr-5">
                                    <h5>{{textes.box_industry}}: <span class="coloredText">{{industry}}</span></h4>
                                </div>
                            </div>
                            <div class="row mx-0">
                                <div class="col text-uppercase">
                                    <h6 class="webPage1 font-weight-light"><span class="coloredText">{{textes.box_web}}: </span><a href="https://{{web1_link}}" class="text-dark" target="_blank" rel="noopener">{{web1}}</a></h4>
                                    <h6 class="webPage2 font-weight-light"><span class="coloredText">{{textes.box_web}}: </span><a href="https://{{web2_link}}" class="text-dark" target="_blank" rel="noopener">{{web2}}</a></h4>
                                </div>
                            </div>
                        </div>
                        <!-- Display header end-->

                        <!-- Content -->
                        <div class="descriptionWrapper row mx-0 py-2">
                            <div class="col-12 px-5 text-center">
                                <img ng-src="./img/{{file_name}}" class="img-fluid imgWrapper" alt="">
                            </div>
                            <div class="col">
                                <h5 class="h6 font-weight-light text-seccondary my-0 font-italic">{{second_header}}</h5>
                                <h6 class="font-weight-light coloredText mt-2">{{textes.box_description}}:</h6>
                                <p class="text-dark mb-1">{{description1}}</p>
                                <p class="text-dark mb-1">{{description2}}</p>
                                <p class="text-dark mb-1">{{description3}}</p>
                                <p class="text-dark mb-1">{{description4}}</p>
                                <p class="text-dark mb-1">{{description5}}</p>
                                <p class="text-dark mb-1">{{description6}}</p>
                            </div>
                        </div>
                        <!-- Content end -->
                    </div>
                    <!-- Display box -->

                    <!-- Slogan -->
                    <div class="realisationExample col pb-3 d-flex align-items-center justify-content-center">
                        <div class="header1 text-light text-uppercase display-4 py-4 py-lg-0">{{textes.header1}}</div>
                    </div>
                    <div class="realisationExample col pb-4 d-flex align-items-center justify-content-center">
                        <div class="header2 text-light text-uppercase display-2 py-4 py-lg-0 font-weight-normal">{{textes.header2}}</div>
                    </div>
                    <!-- Slogan end -->
                </div>
                <!-- Current project display end -->
            </div>

            <!-- Main header -->
            <div class="realisationHeaderWrapper col-12 row mx-0 justify-content-center order-first order-lg-last pb-1 mb-1 pb-lg-1 mb-lg-1">
                <h2 class="realisationHeader display-4 text-center mx-5">{{main_header}}</h2>
            </div>
            <!-- Main header end -->
        </div>
    </section>
    <!-- <div class="portDistance"></div> -->
</main>
