<main>
    <!-- space needed to make regular distance before main display -->
    <div class="beforeSpace"></div>

    <section class="bg-dark text-warning">
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Commodi neque eos in quas earum nam ipsam a reiciendis? Labore hic voluptas rerum architecto necessitatibus voluptatem dolorem vitae ducimus itaque perferendis.</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Commodi neque eos in quas earum nam ipsam a reiciendis? Labore hic voluptas rerum architecto necessitatibus voluptatem dolorem vitae ducimus itaque perferendis.</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Commodi neque eos in quas earum nam ipsam a reiciendis? Labore hic voluptas rerum architecto necessitatibus voluptatem dolorem vitae ducimus itaque perferendis.</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Commodi neque eos in quas earum nam ipsam a reiciendis? Labore hic voluptas rerum architecto necessitatibus voluptatem dolorem vitae ducimus itaque perferendis.</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Commodi neque eos in quas earum nam ipsam a reiciendis? Labore hic voluptas rerum architecto necessitatibus voluptatem dolorem vitae ducimus itaque perferendis.</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Commodi neque eos in quas earum nam ipsam a reiciendis? Labore hic voluptas rerum architecto necessitatibus voluptatem dolorem vitae ducimus itaque perferendis.</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Commodi neque eos in quas earum nam ipsam a reiciendis? Labore hic voluptas rerum architecto necessitatibus voluptatem dolorem vitae ducimus itaque perferendis.</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Commodi neque eos in quas earum nam ipsam a reiciendis? Labore hic voluptas rerum architecto necessitatibus voluptatem dolorem vitae ducimus itaque perferendis.</p>
    </section>
</main>
